<div class="user_details">
  <div class="photo">
    <img src="<%= obj.photo %>" alt="<%= obj.name %>">
  </div>
  <div class="user_info">
    <h4><%= obj.name %></h4>
    <p>Number of posts: <%= obj.postscounter %></p>
  </div>
</div>
