h2.sign-up-header {
  text-align: center;
  margin: 2rem 0;
}

form.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.sign-up-field {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

div.sign-up-field input.sign-up-input,
textarea {
  padding: 0.6rem;
  width: 30.3rem;
  font-size: 1.3rem;
}

div.actions .sign-up-btn {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 30.3rem;
  cursor: pointer;
}

div.login_path,
div.confirmable_path {
  width: 30.3rem;
  margin: 0 auto;
}

div.confirmable_path {
  margin-bottom: 2rem;
}

div.login_path a,
div.confirmable_path a {
  font-size: 1.3rem;
}
